.footer {
  background-color: var(--grayish-dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.06rem 10.31rem;
}

.left,
.right {
  width: 50%;
}

.left,
.left ul {
  display: flex;
}

.left ul li {
  color: #ffffff;
}

.right {
  display: flex;
  align-items: center;
  justify-content: end;
}
.right img {
  margin-right: 15px;
}

.right img:hover {
  cursor: pointer;
}
